<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">Main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>07.10.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi esse, ipsum placeat similique temporibus? A cumque, doloremque ducimus error explicabo id itaque magni molestias nisi non repudiandae sunt veritatis vero. Amet delectus distinctio exercitationem fuga hic iure iusto minima, nam odit, pariatur placeat provident quam quibusdam, quo soluta vel.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi esse, ipsum placeat similique temporibus? A cumque, doloremque ducimus error explicabo id itaque magni molestias nisi non repudiandae sunt veritatis vero. Amet delectus distinctio exercitationem fuga hic iure iusto minima, nam odit, pariatur placeat provident quam quibusdam, quo soluta vel.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi esse, ipsum placeat similique temporibus? A cumque, doloremque ducimus error explicabo id itaque magni molestias nisi non repudiandae sunt veritatis vero. Amet delectus distinctio exercitationem fuga hic iure iusto minima, nam odit, pariatur placeat provident quam quibusdam, quo soluta vel.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi esse, ipsum placeat similique temporibus? A cumque, doloremque ducimus error explicabo id itaque magni molestias nisi non repudiandae sunt veritatis vero. Amet delectus distinctio exercitationem fuga hic iure iusto minima, nam odit, pariatur placeat provident quam quibusdam, quo soluta vel.</p>
  </div>
</div>
